<a id='1'></a><center> <h3 style="background-color:orange; color:white" ><br>Python Data Structures<br></h3>

# `Types of Data Structures:`
* `List` | `Tuple`
* `Set` | `Dictionary`

|Data Structures type|Mutable|Comments|Indexing|Ordered|Duplicacy|
|----|----|----|----|----|----|
tuple ()|immutable|immutable version of list| possible|yes |allowed |
list []|mutable|-|possible |yes | allowed |
set {}|mutable| -|not |no |not |
dict {key:value}|mutable|-|possible |no |not  |

üí´ `immutable` => `can't be changed` <br>
üí´ `mutable` => `can be changed`

## Lists

### Create an empty list with the name ‚Äòa‚Äô, print the value of a and type(a).

In [69]:
# create empty list, name it 'a'
a = []

In [70]:
# print the value of a

print(a)

[]

In [71]:
# print the type of a
print (type(a))

<class 'list'>

### Create a list , languages = ['R','Python', 'SAS', 'Scala', 42],

In [72]:
lang = ['R','Python','SAS','Scala',42]

Print the number of elements in the list

In [73]:
lang.count("R")

1

Using for loop iterate and print all the elements in the list

In [74]:
for i in  lang :
 print (i)

R
Python
SAS
Scala
42

Select the second item, 'Python' and store it in a new variable named 'temp'

In [75]:
a = 'Python'
temp = a
print(temp)

Python

Print the value of temp and type(temp)

In [76]:
print(temp)
print(type(temp))

Python
<class 'str'>

Append the element 'Java' in the list

In [77]:
lang.append("java")
print(lang)

['R', 'Python', 'SAS', 'Scala', 42, 'java']

Remove the element 42 from the list and print the list

In [78]:
lang.remove(42)
print(lang)

['R', 'Python', 'SAS', 'Scala', 'java']

### Create a list, colors = [‚ÄòRed‚Äô, ‚ÄòBlue‚Äô, ‚ÄòWhite‚Äô]

In [79]:
colors = ['Red','Blue','White']

Append the element 'Black' to colors

In [80]:

colors.append('Black')
print(colors)

['Red', 'Blue', 'White', 'Black']

Append the color 'Orange' to second position (index=1) and print the list

In [81]:
colors.insert(1,'Orange')
print(colors)

['Red', 'Orange', 'Blue', 'White', 'Black']

Print the list

In [82]:
print(colors)

['Red', 'Orange', 'Blue', 'White', 'Black']

Create another list, colors2 = [‚ÄòGrey‚Äô, ‚ÄòSky Blue‚Äô]

In [83]:
colors2 = ['Grey','Sky Blue']

Add the elements of colors2 to colors using extend function in the list

In [84]:
colors.extend(colors2)
print(colors)

['Red', 'Orange', 'Blue', 'White', 'Black', 'Grey', 'Sky Blue']

Print len of colors and its elements

In [85]:
print(len(colors))
print(colors)

7
['Red', 'Orange', 'Blue', 'White', 'Black', 'Grey', 'Sky Blue']

Sort the list and print it.

In [86]:

colors.sort()
print(colors)

['Black', 'Blue', 'Grey', 'Orange', 'Red', 'Sky Blue', 'White']

### Create a string, sent = ‚ÄòCoronavirus Caused Lockdowns Around The World.‚Äù

In [87]:
sent = 'Coronavirus Caused Lockdowns Around The World.'

Use split function to convert the string into a list of words and save it in variable words and print the same

In [88]:

words = sent.split()
print(words)

['Coronavirus', 'Caused', 'Lockdowns', 'Around', 'The', 'World.']

Convert each word in the list to lower case and store it in variable words_lower. 
Print words_lower

In [105]:
words_lower = words
words_lower = [word.lower() for word in words]
print(words_lower)

['coronavirus', 'caused', 'lockdowns', 'around', 'the', 'world.']

Check whether ‚Äòcountry‚Äô is in the list

In [139]:
words = ['coronavirus', 'caused', 'lockdowns', 'around', 'the', 'world.']
a = " ".join(words).find('country')
print(a)

-1

Remove the element ‚Äòthe‚Äô from the list and print the list.

In [141]:
words = ['coronavirus', 'caused', 'lockdowns', 'around', 'the', 'world.']
words.remove("the")
print(words)

['coronavirus', 'caused', 'lockdowns', 'around', 'world.']

Select the first 4 words from the list words_lower using slicing and store them in a new variable x4

In [150]:
x4 = words_lower[0:4]
print(x4)

['coronavirus', 'caused', 'lockdowns', 'around']

Convert the list of elements to single string using join function and print it

In [153]:
a = " ".join(x4)
print(a)

coronavirus caused lockdowns around

## Sets

### Create stud_grades = ['A','A','B','C','C','F']

In [154]:
stud_grades = ['A','A','B','C','C','F']

Print the len of stud_grades

In [158]:
a = len(stud_grades)
print(a)

6

Create a new variable, stud_grades_set = set(stud_grades)

In [159]:
stud_grades_set = set(stud_grades)

Print stud_grades_set.

In [160]:
print(stud_grades_set)

{'F', 'B', 'A', 'C'}

print the type of stud_grades and stud_grades_set and print their corresponding elements. Try to understand the difference between them.

In [163]:

print(type(stud_grades))
print(type(stud_grades_set))
print(stud_grades)
print(stud_grades_set)

<class 'list'>
<class 'set'>
['A', 'A', 'B', 'C', 'C', 'F']
{'F', 'B', 'A', 'C'}

Add a new element ‚ÄòG‚Äô to stud_grades_set

In [167]:
stud_grades_set.add('G')
print(stud_grades_set)

{'G', 'A', 'F', 'B', 'C'}

Add element 'F' to stud_grades_set. and print it.

In [177]:
stud_grades_set.add('F')
print(stud_grades_set)

{'F', 'B', 'C', 'G', 'A'}

!!Did you notice? set doesn't add an element if it's already present in it, unlike lists.

Remove ‚ÄòF‚Äô from stud_grades_set

In [178]:
stud_grades_set.remove("F")

Print the elements and the length of stud_grades_set

In [179]:
print(stud_grades_set)
len(stud_grades_set)

{'B', 'C', 'G', 'A'}

4

### Create colors = [‚Äòred‚Äô,‚Äôblue‚Äô,‚Äôorange‚Äô], and fruits = [‚Äòorange‚Äô,‚Äôgrapes‚Äô,‚Äôapples‚Äô]

In [180]:
colors = ['red','blue','orange']
fruits = ['orange','grapes','apples']

Print color and fruits

In [181]:
print(colors)
print(fruits)

['red', 'blue', 'orange']
['orange', 'grapes', 'apples']

Create colors_set, and fruits_set. (using set() ) and print them

In [187]:
colors_set = {'red','blue','orange'}
fruits_set = {'orange','grapes','apples'}
print(colors_set)
print(fruits_set)

{'blue', 'red', 'orange'}
{'grapes', 'apples', 'orange'}

Find the union of both the sets.

In [189]:
print(colors_set.union(fruits_set))
print(fruits_set.union(colors_set))

{'blue', 'apples', 'orange', 'grapes', 'red'}
{'blue', 'apples', 'orange', 'grapes', 'red'}

Find the intersection of both the sets

In [190]:
print(colors_set.intersection(fruits_set))
print(fruits_set.intersection(colors_set))

{'orange'}
{'orange'}

Find the elements which are Fruits but not colors (using set.difference() )

In [191]:
print(colors_set.difference(fruits_set))
print(fruits_set.difference(colors_set))

{'blue', 'red'}
{'grapes', 'apples'}

## TUPLES

### Create temp = [17, ‚ÄôVirat‚Äô, 50.0]

In [192]:
temp = [17, 'Virat',50.0]

Iterate through temp and print all the items in temp

In [193]:
print(temp)

[17, 'Virat', 50.0]

replace first element with 11 in temp

In [210]:
temp = [17, 'Virat', 50.0]
temp[0] = 11
print(temp)

[11, 'Virat', 50.0]

Set temp1 = tuple(temp)

In [212]:
temp1 = tuple(temp)

Iterate through temp1 and print all the items in temp1.

In [213]:
print(temp1)

(11, 'Virat', 50.0)

replace first element with 17 in temp1

In [218]:
temp1 = (11, 'Virat', 50.0)
temp1[0] = 17
print(temp1)

TypeError: 'tuple' object does not support item assignment

<b>Oops!! You got an error. Hey Don't worry! Its because Once a tuple is created, you cannot change its values unlike list.</b>

### Create city = ("Bangalore", 28.9949521, 72)

In [219]:
city = ("Bangalore",28.9949521,72)

Print first element of city

In [220]:
print(city[0])

Bangalore

Create city2 = (‚ÄòChennai‚Äô, 30.01, 74)

In [221]:
city2 = ('Chennai',30.01,74)

Create cities which consist of city and city2

In [224]:
city = ("Bangalore", 28.9949521, 72)
city2 = ('Chennai', 30.01, 74)
cities = (city, city2)

Print cities

In [225]:
print(cities)

(('Bangalore', 28.9949521, 72), ('Chennai', 30.01, 74))

Print type of first element in cities

In [234]:
print(type(cities[1]))

<class 'tuple'>

print the type of cities

In [235]:
print(type(cities))

<class 'tuple'>

Hey that implies you made a nested tuples!!

## DICTIONARY

### Create a dictionary d = {"actor":"amir","animal":"cat","earth":2,"list":[23,32,12]}

In [236]:
d = {"actor" : "amir","animal" : "cat","earth" : 2,"list" : [23,32,12]}

Print the value of d[0]

In [240]:
 a = d[0]
print(a)

KeyError: 0

<b>Oops!! again an error. again a fun fact. Dictionary return the value for key if key is in the dictionary, else throws KeyError
and we don't have key 0 here :( </b>

Store the value of d[‚Äòactor‚Äô] to a new variable actor.

In [241]:

actor = d['actor']

Print the type of actor

In [242]:
type(actor)

str

Store the value of d[‚Äòlist‚Äô] in new variable List.

In [243]:
list = d['list']

Print the type of List.

In [244]:
type(list)

list

Create d1 = { ‚Äòsinger‚Äô : ‚ÄòKr$na‚Äô , ‚Äòalbum‚Äô: ‚ÄòStill here‚Äô, ‚Äògenre‚Äô : ‚Äòhip-hop‚Äô}

In [245]:
d1 = {'singer' : 'Kr$na', 'album' : 'Still here', 'genre' : 'hip=hop'}

Merge d1 into d.

In [248]:
d.update(d1)

print d

In [249]:
print(d)

{'actor': 'amir', 'animal': 'cat', 'earth': 2, 'list': [23, 32, 12], 'singer': 'Kr$na', 'album': 'Still here', 'genre': 'hip=hop'}

Print all the keys in d

In [250]:
d.keys()

dict_keys(['actor', 'animal', 'earth', 'list', 'singer', 'album', 'genre'])

Print all the values in d

In [251]:
d.values()

dict_values(['amir', 'cat', 2, [23, 32, 12], 'Kr$na', 'Still here', 'hip=hop'])

Iterate over d, and print each key, value pair as this - (actor ----> amir)

In [252]:
d = {"actor": "amir", "animal": "cat", "earth": 2, "list": [23, 32, 12], 
     "singer": "Kr$na", "album": "Still here", "genre": "hip-hop"}
for key, value in d.items():
    print(f"{key}: {value}")

actor: amir
animal: cat
earth: 2
list: [23, 32, 12]
singer: Kr$na
album: Still here
genre: hip-hop

count the number of occurences of charachters in string named "sent" using dictionary and print the same.

In [255]:
names = "sent"
char_count = {}
for char in names:
    if char in char_count:
        char_count[char] += 1
    else:
        char_count[char] = 1
print(char_count)

{'s': 1, 'e': 1, 'n': 1, 't': 1}